@model PizzaModel;



<div class="container mt-5 ">
    <div class="row my-5 align-content-center">
        
        <div class="col-12 text-center text-white">
            <h2>@Model.Name</h2>
        </div>
        

    </div>
    <div class="row">
        <div class="col-12">
            <div class="row row-cols-1 row-cols-md-2 g-4 ">




                <div class="col  w-50 p-3 d-inline-block">
                    <div class="card h-100 text-bg-dark mb-3 text-center ">
                        <img src="@Model.ImgSource" class="card-img-top square" alt="pizza coi funghi">
                        <div class="card-body">
                            <h5 class="card-title">@Model.Name</h5>
                            <p class="card-text ">@Model.Description</p>
                            <p>
                                <strong>Categoria:</strong>
                                @if (Model.Cathegory != null)
                                {
                                    @Model.Cathegory.Name;
                                }
                                else
                                {
                                    <span>Nessuna categoria</span>
                                }
                            </p>
                        </div>
                        <div class="card-footer bg-transparent border-dark pb-5">
                            <h4>Prezzo :@Model.Price.ToString("0.00") €</h4>

                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>